body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  position: relative;
}

.open-modal {
  margin: 1rem;
  border-radius: 0.25rem;
  width: 12rem;
  height: 2.75rem;
  font-size: 1.5rem;
  color: white;
  background-color: #4a4ae8;
  box-shadow: 0 0.05rem 0.5rem #8f9094;
  border: none;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.85;
}

.survey-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  background-color: white;
  padding: 2rem;
  border-radius: 0.25rem;
}

.close-modal {
  background-color: #eb5d5d;
  border-radius: 0.25rem;
  color: white;
  margin: 1.25rem auto;
  padding: 0.5rem 1.75rem;
  font-size: 1.25rem;
  border: none;
  box-shadow: 0 0.1rem 0.2rem #a3a3a4;
}

.inactive {
  display: none;
}
