.all-panels {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.panel {
  width: 100%;
}

.panel-header {
  cursor: pointer;
  font-size: 0.6rem;
  background-color: darkslategrey;
  color: white;
  border: 0.5px #ccba8f solid;
  border-radius: 2px;
}

.panel-content {
  font-size: 0.4rem;
  border: 0.5px solid #ccba8f;
  border-top: none;
  padding: 2px 7px;
  border-radius: 0 0 2px 2px;
}
